In [1]:
import pandas as pd
import os
from pathlib import Path
print(os.getcwd())

d:\Learning Data Science\Project 1_Web Scraping

In [2]:
# finding the path of all csv files
DATA_DIR = Path(r"D:\Learning Data Science\Project 1_Web Scraping\Seasons")

In [3]:
season = {
    "Premier24": "2023-24",
    "Premier25": "2024-25",
    "Premier26": "2025-26"
}

leagues = ["E0", "E1", "E2", "E3", "EC"]
frames = []

for folder_name, season_label in season.items():
    
    for league in leagues:
        file_path = DATA_DIR / folder_name / f"{league}.csv"

        if not file_path.exists():
            print("Missing:", file_path)
            continue

        print("Loading:", file_path)
        df = pd.read_csv(file_path, encoding="unicode_escape")

        df["Season"] = season_label
        df["League"] = league

        frames.append(df)

# Combine everything
if not frames:
    raise ValueError("No CSV files were loaded — check folder names")

df_all = pd.concat(frames, ignore_index=True)
print("Final shape:", df_all.shape)

Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier24\E0.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier24\E1.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier24\E2.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier24\E3.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier24\EC.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier25\E0.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier25\E1.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier25\E2.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier25\E3.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier25\EC.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier26\E0.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier26\E1.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier26\E2.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier26\E3.csv
Loading: D:\Learning Data Science\Project 1_Web Scraping\Seasons\Premier26\EC.csv
Final shape: (7548, 165)

In [4]:
len(frames)

15

In [5]:
# showing dataframe
df_all

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7543,EC,15/05/2022,15:00,Dover Athletic,Weymouth,1,2,A,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7544,EC,15/05/2022,15:00,Eastleigh,Grimsby,4,4,D,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7545,EC,15/05/2022,15:00,Maidenhead,Notts County,0,1,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7546,EC,15/05/2022,15:00,Southend,Torquay,1,1,D,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547,EC,15/05/2022,15:00,Stockport,Halifax,2,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# show 1st, 2nd and 3rd element
frames[2].head(3)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,Season,League
0,E2,05/08/2023,15:00,Barnsley,Port Vale,7,0,H,2,0,...,2.03,1.83,2.07,1.83,2.09,1.85,2.01,1.80,2023-24,E2
1,E2,05/08/2023,15:00,Blackpool,Burton,2,0,H,2,0,...,1.93,1.93,1.94,1.94,1.96,1.97,1.88,1.91,2023-24,E2
2,E2,05/08/2023,15:00,Bolton,Lincoln,3,0,H,1,0,...,2.00,1.85,2.01,1.88,2.02,1.92,1.96,1.84,2023-24,E2

In [7]:
# showing dataframe
df_all

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7543,EC,15/05/2022,15:00,Dover Athletic,Weymouth,1,2,A,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7544,EC,15/05/2022,15:00,Eastleigh,Grimsby,4,4,D,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7545,EC,15/05/2022,15:00,Maidenhead,Notts County,0,1,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7546,EC,15/05/2022,15:00,Southend,Torquay,1,1,D,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7547,EC,15/05/2022,15:00,Stockport,Halifax,2,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2.2 Multiple Seasons

In [8]:
for season in range(23, 26):
    print(str(season) + str(season+1))

2324
2425
2526

In [9]:
# creating list of leagues
leagues = ['E0','E1', 'E2', 'E3', 'EC']
frames = []

# looping through leagues, read multiple csv and append it into a list
for league in leagues:
    for season in range(23, 26):
        df = pd.read_csv(file_path, encoding="unicode_escape")
        df.insert(1, 'Season', season)
        frames.append(df)

In [10]:
# total frames (3 seasons x 5 leagues)
len(frames)

15

In [11]:
# show 1st and last element (new season column was created)
frames[14]

,Div,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,EC,25,21/08/2021,15:00,Aldershot,Chesterfield,0,2,A,0,...,1.93,0.50,1.98,1.83,2.03,1.83,2.05,1.90,1.97,1.80
1,EC,25,21/08/2021,15:00,Barnet,Notts County,0,5,A,0,...,2.06,0.75,1.88,1.93,1.90,1.95,2.00,1.95,1.90,1.88
2,EC,25,21/08/2021,15:00,Halifax,Maidenhead,1,2,A,1,...,1.94,-0.50,1.93,1.88,1.99,1.87,2.03,1.93,1.94,1.84
3,EC,25,21/08/2021,15:00,Kings Lynn,Southend,0,1,A,0,...,1.91,0.25,1.75,2.05,1.81,2.06,1.90,2.11,1.76,2.02
4,EC,25,21/08/2021,15:00,Solihull,Wrexham,2,2,D,1,...,1.85,0.00,2.05,1.75,1.93,1.92,2.05,1.98,1.92,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,EC,25,15/05/2022,15:00,Dover Athletic,Weymouth,1,2,A,0,...,2.50,0.25,1.88,1.93,1.87,1.98,1.90,1.98,1.85,1.93
502,EC,25,15/05/2022,15:00,Eastleigh,Grimsby,4,4,D,0,...,2.30,0.50,1.88,1.93,1.88,1.98,1.95,1.98,1.87,1.90
503,EC,25,15/05/2022,15:00,Maidenhead,Notts County,0,1,A,0,...,2.42,0.50,1.95,1.85,2.03,1.83,2.03,1.96,1.92,1.87
504,EC,25,15/05/2022,15:00,Southend,Torquay,1,1,D,0,...,2.01,-0.25,2.02,1.77,2.03,1.83,2.07,1.85,2.00,1.80
505,EC,25,15/05/2022,15:00,Stockport,Halifax,2,0,H,1,...,1.97,-0.75,1.80,2.00,1.79,2.08,1.93,2.08,1.84,1.95

3 Organize All The Data in a Dictionary

In [12]:
# create a dictionary with original name of league as key
dict_leagues = {
    'English Premier League':'E0',
    'English League 1':'E1',
    'English League 2':'E2',
    'English League 3':'E3',
    'European Competitions':'EC'
}

In [13]:
# get a dictionary element 
dict_leagues['English Premier League']

'E0'

In [14]:
import os

# Folder containing season folders
base_path = r"D:\Learning Data Science\Project 1_Web Scraping\Seasons"

dict_historical_data = {}

# Map folder names to seasons
season_folders = {
    23: "Premier24",
    24: "Premier25",
    25: "Premier26"
}

# Looping through key elements
for league_name, league_code in dict_leagues.items():
    frames = [] # one dataframe per league
    for season, folder in season_folders.items():
        file_path = os.path.join(base_path, folder, f"{league_code}.csv")
        df = pd.read_csv(file_path, encoding="unicode_escape")
        df.insert(1, 'Season', season)
        frames.append(df)
    
    # Combine all seasons for this league
    dict_historical_data[league_name] = pd.concat(frames, ignore_index=True)

In [15]:
# show dataframe inside dict_historical_data
dict_historical_data['English League 2']

,Div,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,E2,23,05/08/2023,15:00,Barnsley,Port Vale,7,0,H,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E2,23,05/08/2023,15:00,Blackpool,Burton,2,0,H,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E2,23,05/08/2023,15:00,Bolton,Lincoln,3,0,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E2,23,05/08/2023,15:00,Cambridge,Oxford,2,0,H,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E2,23,05/08/2023,15:00,Carlisle,Fleetwood Town,1,1,D,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1651,E2,25,30/04/2022,12:30,Morecambe,Sunderland,0,1,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1652,E2,25,30/04/2022,12:30,Oxford,Doncaster,1,1,D,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1653,E2,25,30/04/2022,12:30,Plymouth,Milton Keynes Dons,0,5,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1654,E2,25,30/04/2022,12:30,Sheffield Weds,Portsmouth,4,1,H,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1655,E2,25,30/04/2022,12:30,Shrewsbury,Wigan,0,3,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN